/*background-image: url("png/bikini.png");*/

body
{
  background-image: linear-gradient(to bottom right,#0087af, #87875f);
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:center;
  height: 100vh;
}
div
{
  margin-top: 30px;
  margin-bottom: 30px;
}

p
{
  margin-top: 40px;
}

#pics
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

#pic1,#pic2,#pic3,#pic4{
  border-radius: 20px;
  margin:5px;
}



#play1,#play2,#play3,#play4
{
  border: 2px solid #A18D24;
  border-radius: 50px;
  margin-right: 20px;
  background-color: #999;
  box-shadow: -10px 10px 10px #333;
}

#play2,#play4
{
  margin-top: 80px;
}

#go
{height:250px;
width:250px;
  padding: 20px;
  background-color: #618776;
  border: 2px solid #A18D24;
  border-radius: 50px;
  cursor:pointer;
  box-shadow: -10px 10px 10px #333;
}

#play11,#play22,#play33,#play44
{
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:flex-start;
}


#play1,#play2,#play3,#play4
{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:flex-start;
  height: 250px;
  width: 250px;
}

.hidden1,.hidden2,.hidden3,.hidden4
{
  width:60px;
  height:30px;
  border: 1px solid #A18D24;
  border-radius: 5px;
  cursor:pointer;
  background-color: #618776;
  font-weight:bold;
  font-size: 16px;
  color:gold;
  text-shadow:1px 1px 2px black;
  display: none;
}

.hidden1:hover, .hidden2:hover,.hidden3:hover,.hidden4:hover
{
  background-color: #557868;
}

.show1:hover .hidden1
{
  display:inline;
}
.show2:hover .hidden2
{
  display:inline;
}
.show3:hover .hidden3
{
  display:inline;
}
.show4:hover .hidden4
{
  display:inline;
}

#logo
{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
}

#bpm
{
  height:250px;
  width:250px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:center;
  /*padding: 20px;*/
  background-color: #618776;
  border: 2px solid #A18D24;
  border-radius: 50px;
  box-shadow: -10px 10px 10px #333;
  margin-left: 30px;
  margin-top: 0px;

}


#bpmtext
{
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight:bold;
  font-size: 50px;
  color:#444;
}
#start,#stop,#plus,#minus
{
  width:60px;
  height:30px;
  border: 1px solid #A18D24;
  border-radius: 5px;
  cursor:pointer;
  background-color: #618776;
  font-weight:bold;
  font-size: 16px;
  color:gold;
  text-shadow:1px 1px 2px black;


}

#bpm:hover{
  background-color: #557868;
}
